@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.serveur{

  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
  height: 40vh;
  width: 40vw;
  margin-top: 5rem;
  margin-left: 25rem;


  input{
      outline: none;
      width: 80%;
      height: 100px;
      border-radius: 5px;
      padding-left: 10px;
      font-size: 14px;
      color: gray;
  }
  button{
      height: 100px;
      background-color: black;
      color: white;
      width: 200px;
      font-size: 15px;
      cursor: pointer;
      border: none;
  }
}

